bin/
obj/
*.exe
*.dll
*.pdb
*.suo
*.user
*.sln.docstates
.idea/
*.sln.iml
riderModule.iml
_ReSharper.Caches/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.history/
.vs/
[Tt]emp/
[Log]/
.DS_Store
Thumbs.db
