.idea/
*.sln.iml
riderModule.iml
_ReSharper.Caches/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.history/
[Bb]in/
[Oo]bj/
[Tt]emp/
[Log]/
*.exe
*.dll
*.pdb
*.appref-ms
.DS_Store
Thumbs.db
desktop.ini